.signature-card{
	padding: 10px 20px;
	border: 1px solid black;
}

.signature-card .card-header{
	margin-bottom: 10px;
	text-align: center;
}

.signature-card .card-header i{
	font-size: 20px;
}

.signature-card .card-footer{
	margin-top: 10px;
	text-align: center;
}

.signature-card .card-footer *{
	font-family: Cantarell;
}

.signature-card .card-body *{
	margin-left: 10px;
	font-size: 20px;
}

.signature-card h4{padding: 15px 22px;
	margin-left: 10px;
}


.sig-card{
	border: 1px solid black;
}

.sig-card .card-body a{
	font-size: 20px;
	color: black;
	padding: 4px 6px;
	margin-bottom: 5px !important;
	margin-top: 5px !important;

}

.sig-card .card-body a:hover{
	background-color: #ddd;
}

.client-card h6{ color: #aaa;}


.account-separator .content{
    padding: 18px 20px;
    font-family: sans-serif;
    border: 1px solid rgb(51, 51, 71);
    text-align: center;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    background-color: rgb(51, 51, 71);
}

.account-separator .content h2{
    color: white;
    font-family: sans-serif;
}

.account-separator .content h2::after{
    content: "\f0d7";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-right: 20px;
    float: right;
}

.account-separator h2:focus{
    padding: 22px 24px;
}


.section{
    padding: 10px 12px;
    border: 1px solid black;
}
