input{
	background-color: white;
	border: none !important;
	border-bottom: 1px solid black !important;
}

.type-opt{
	border: 1px solid black;
	width: 300px !important;
	height: 500px !important;
	box-sizing: border-box;
	float: left;
	border-radius: 5%;
	margin-left: 30px;
}

.type-opt .opt-lb{
	margin-left: 5% !important	;
	margin-top: 3%;
	border: 1px solid black;
	margin-right: 3%;
}

.type-opt input:hover + .opt-lb + .type-opt{
    padding: 10px 11px;
}

.type-opt input:checked + .opt-lb{
    outline: 5px solid green !important;
    opacity: 1;
}

.prop{
	background-image: url("../media/new-prop.png");
	background-size: cover;
	background-repeat: no-repeat;
}


.types-opts{
	max-height: 400px !important;
	height: 200px !important;
	position: relative !important;

}

.opt-types{
	height: 200px !important;
	position: relative;
	margin-bottom: 50%;
}

.img-radio-default{
	max-width: 200px;
	width: 200px;
}

input[type="file"]{
	border: none !important;

}

#prop-rd::after{
	content: "Proprietary Account";
	font-size: 24px;
}
