
.header-container{
    background-color: rgb(51, 51, 71);
    position: fixed !important;
    z-index: 99;
}

.scrolled{
    background-color:black;
    border-bottom: 1px white solid;
    transition: background-color 200ms linear;
}

.header-container .header{
    height: 71px !important;
}

/* default values*/
.default-btn-header{
    background-color: rgb(51, 51, 71);
    color: white !important;
    font-family: Arial; 
    margin-top: 10px !important;
    margin-left: 10px;
    margin-right: 20px;
    position: absolute;
}

.default-btn-header-scrolled{
    border-color: rgb(51, 51, 71);
    color: white !important;
    transition: background-color 200ms linear();
}

.after-opt{
    margin-left: 155px !important;
}

.default-btn-header-scrolled:hover{
    color: gold !important;
    border: 1px white solid !important;
    transition: background-color 200ms linear;
}

.help-dropdown .btn{ margin-left: 190px !important;}

.default-btn-header:hover{
    background-color: #ffffff;
    border-color: rgb(51, 51, 71);
    color: rgb(51, 51, 71) !important;
}

.default-btn-header-split{
    background-color: rgb(51, 51, 71);
    color: #ffffff !important;
}

.after-opt{ margin-left: 9%;}

.opts{
    background-color: rgb(51, 51, 71) !important;
}

.opts .dropdown-item{
    color: white;
    font-family: Arial;
    background-color: rgb(51, 51, 71);

}

.opts-scrolled{
    background-color: black !important;
    transition: background-color 200ms linear;
}

.opts-scrolled .dropdown-item{
    background-color: black;
    transition: background-color 200ms linear;
}

.container-content{
    position: absolute;
    top: 20%;
}

.clear-content{
    background-color: white;
    border-radius: 3%;
    border: 1px black solid;
}

/* .social-group{
    position: absolute !important;
    left: 90%;
    height: 55px;
} */

#facebook-btn{
    background-image: url("../media/stand-by-facebook.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    
}

#facebook-btn:hover{
    background-image: url("../media/hover-facebook.png");
}

#facebook-btn-header-scrolled{
    background-image: url("../media/hover-facebook.png");
}

#facebook-btn-header-scrolled{
    background-image: url("../media/stand-by-facebook.png");
}

.default-btn-social{
    background-color: rgb(51, 51, 71);
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#github-btn{
    background-image: url("../media/stable-git.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
}

#github-btn:hover{
    background-image: url("../media/hover-git.png");
}

#twitter-btn{
    background-image: url("../media/static-twitter.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
}

#twitter-btn:hover{
    background-image: url("../media/hover-twitter.png");
}

.common-content{
    background-color: #ffffff;
    border: none;
}

/* Separators default*/

.sep{
    border: 1px rgb(51, 51, 71) solid;
}

.sep-sm{
    height: 10px;
}

.sep-md{
    height: 50px;
}

.sep-lg{
    height:  100px;
}

.sep-xl{ height: 250px;}

/* Error labels */

.error-lb{
    color: rgb(255, 0, 0);
    font-family: Impact;
    font-feature-settings: "half";
}

/* Images selector */
.img-box-selection{
    width: 200px;
    height: 200px;
    background-color: rgb(51, 51, 71);
    opacity: 0.89;
    border: 1px black solid;
    margin-left: 10px;
}

.img-box-selection:hover{
    cursor: pointer;
    opacity: initial;
    background-color: #ffffff;
    transition: background-color 200ms linear;
    transition: opacity 200ms ease-out;
}

#usr-image-default{
    background-image: url("../media/usr-icon.png");
    background-size: cover;
}

.social-opt-footer + a + img{
    opacity: .5;
    padding: 2px 3px;
    border: 1px black solid;
}

.social-opt-footer + a + img:hover{
    opacity: 0;
    border-color: blue;
    transition: opacity 200ms linear;
    transition: border-color 200ms linear;
}

.social-options-grp{
    display: inline;
    background-color: rgb(42, 42, 53) !important;
    margin-left: 10px;
}

#img-upload-hidden{ visibility: hidden;}

.img-select-container{
    display: inline !important;    
}

#default-img{
    background-image: url("../media/usr-icon.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.img-radio-default input ~ .checkmark{
    background-color: #eee;
}

.img-radio-default:hover input ~.checkmark{
    background-color: #ccc;
    transition: background-color 200ms linear;
}
