./tests.php
./.vscode/*
./bootstrap-4.4.1
./devcenter/u.clientf/*
./devcenter/l.clientf/*
./u.images/*
./usignatures.d/*
./signatures.d/*
./logs/*
./devcenter/logs/access.log
./g.clients/*.zip
./g.clients/tmp/*
./u.clients/tmp/*
./u.clients/*.zip
./config/apache.conf
logs/error.log
jquery/*
